<div class="d-flex justify-content-end mb-3">
  <button class="btn btn-primary" (click)="irAltaProducto()">+ Nuevo Producto</button>
</div>
<div class="stock-contenedor">
  <h2>Productos</h2>

  <p *ngIf="cargando">Cargando datos...</p>
  <p *ngIf="error" class="texto-error">{{ error }}</p>

  <div *ngIf="!cargando && !error">
    <p class="contador">Total de productos: {{ productos.length }}</p>

    <table class="table border-bottom border-success-subtle">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Código</th>
          <th>Precio de Venta</th>
          <th>Categoría</th>
          <th>Descripción</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let producto of productos">
          <td>{{ producto.nombre }}</td>
          <td>{{ producto.codigo }}</td>
          <td>{{ producto.precio_venta ? ('$' + producto.precio_venta) : '-' }}</td>
          <td>{{ producto.id_cat }}</td>
          <td>{{ producto.descripcion || '-' }}</td>
          <td class="celda-acciones">
            <button class="btn btn-danger" (click)="eliminar(producto.id_art!)">
              Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
