<div class="d-flex justify-content-end mb-3">
  <button class="btn btn-primary" (click)="irAltaProducto()">+ Nuevo Producto</button>
</div>
<div class="stock-contenedor">
  <h2>Productos</h2>

  @if (cargando) {
<p>Cargando datos...</p>
}
  @if (error) {
<p class="texto-error">{{ error }}</p>
}

  @if (!cargando && !error) {
<div>
    <p class="contador">Total de productos: {{ productos.length }}</p>

    <table class="table border-bottom border-success-subtle">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Código</th>
          <th>Precio de Venta</th>
          <th>Categoría</th>
          <th>Descripción</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        @for (producto of productos; track producto) {
<tr>
          <td>{{ producto.nombre }}</td>
          <td>{{ producto.codigo }}</td>
          <td>{{ producto.precio_venta ? ('$' + producto.precio_venta) : '-' }}</td>
          <td>{{ producto.id_cat }}</td>
          <td>{{ producto.descripcion || '-' }}</td>
          <td class="celda-acciones">
            <button class="btn btn-danger" (click)="eliminar(producto.id_art!)">
              Eliminar
            </button>
          </td>
        </tr>
}
      </tbody>
    </table>
  </div>
}
</div>
