<div class="bg-image container-fluid vh-100 d-flex justify-content-center align-items-center">
    <div class="col-6 shadow-2-strong rounded-1 vh-50 bg-light">
        <h1 class="text-center mt-4 mb-4 fw-bold">{{creaTuCuenta}}</h1>
        <main class="form-signin d-flex justify-content-center align-items-center">
            <form [formGroup]="registerForm" (ngSubmit)="onEnviar($event)">
                @if (registerErrored === true) {
                    <div class="form-control form-control-lg error-message text-muted login-error-danger my-2">{{registroError}}</div>
                }
                <div class="d-flex row flex-column px-2 py-2">
                    <div class="d-flex gap-2 my-2 col">
                        <label for="nombre" class="form-label" aria-placeholder="Tu nombre como Usuario"></label>
                        <input type="text" class="form-control form-control-lg" name="nombre" formControlName="nombre" id="nombre" placeholder="Tu nombre como Usuario" required>
                        @if (nombre?.errors && nombre?.touched) {
                            <span class="text-danger">{{nombreVacio}}</span>
                        }

                        <label for="email" class="form-label" aria-placeholder="Tu correo electronico"></label>
                        <input type="email" class="form-control form-control-lg" name="email" formControlName="email" id="email" placeholder="Tu correo electronico" required>
                        @if (email?.errors && email?.touched) {
                            <span class="text-danger">{{email?.hasError("required") && !email?.hasError("email") ? emailVacio : email?.hasError("email") ? emailInvalido : errorDesconocido}}</span>
                        }
                    </div>
                    <div class="d-flex gap-2 my-2 col">
                        <label for="password" class="form-label" aria-placeholder="Tu contraseña"></label>
                        <input type="password" class="form-control form-control-lg" name="password" formControlName="password" id="password" placeholder="Tu contraseña" required>
                        @if (password?.errors && password?.touched && registroError) {
                            <span class="text-danger">{{password?.hasError("required") && !password?.hasError("minlength") ? passwordVacio : password?.hasError("minlength") ? passwordCorto : password?.hasError("mismatch") ? passwordNoCoincide : errorDesconocido}}</span>
                        }

                        <label for="confirm_password" class="form-label" aria-placeholder="Tu contraseña"></label>
                        <input type="password" class="form-control form-control-lg" name="confirm_password" formControlName="confirm_password" id="confirm_password" placeholder="Confirma tu contraseña" required>
                        @if (c_password?.errors && c_password?.touched && registroError) {
                            <span class="text-danger">{{c_password?.hasError("required") && !c_password?.hasError("minlength") ? passwordVacio : c_password?.hasError("minlength") ? passwordCorto : c_password?.hasError("mismatch") ? passwordNoCoincide : errorDesconocido}}</span>
                        }
                    </div>
                    <div class="d-grid gap-2 col">
                        <button class="btn btn-primary btn-lg ms-2 mt-4" type="submit">Crear cuenta</button>
                    </div>
                </div>
            </form>
        </main>
        <hr>
        <p class="text-center mt-3 text-muted small">¿Ya tenés cuenta? <a routerLink="/login">Inicia Sesión</a> </p>
    </div>
</div>


